@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/* || RESET */
*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

ul {
  list-style: none;
}

/* || GENERAL STYLE */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 5.7rem 12rem 0;
  /* font-size: calc(1.4rem + (26 - 14) * ((100vw - 30rem) / (1600 - 300))); */
}

.nav-link {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
}

/* || HEADER STYLES */
/* navigation styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  column-gap: 3.4rem;
}

.nav-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 2.4rem;
}

/* || banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.banner-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 5.2rem;
  width: 42vw;
}

.banner-description {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 1.6rem 0;
  width: 50.5rem;
}

.btn-prebook {
  background-color: #e02c6d;
  padding: 1rem 2.4rem;
  border: 0;
  border-radius: 4.1rem;
}

.btn-prebook a {
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
}

.banner-img-container {
  width: 44rem;
  margin-left: 13rem;
}

.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 3.3rem 3rem 0.2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* || MAIN STYLES */
/* site container */
.site-container {
  display: flex;
  justify-content: space-around;
  margin: 7rem 0 10rem;
}

/* popular collection container */
.collection-title {
  font-weight: 600;
  font-size: 2.8rem;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 3rem;
}
.collection-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.collection-info {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 1.7rem 1.5rem 7.3rem;
}

.collection-info img {
  width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
}

.collection-name {
  color: #18191f;
  font-weight: 500;
  font-size: 2.8rem;
}

.collection-price {
  font-weight: 400;
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.87);
}

.rate {
  font-weight: 700;
  font-size: 1.4rem;
  color: #5e6366;
}

.stars {
  color: #fb8200;
  margin-bottom: 1rem;
}

.btn-see-more {
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(224, 44, 109, 0.87);
  border: 0;
  float: right;
  margin-top: 5rem;
  background-color: white;
}

/* featured-product */
.featured-product {
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

.section-info-container {
  padding-left: 9.6rem;
}
.section-title {
  color: #0a0826;
  font-weight: 700;
  font-size: 3.8rem;
}

.section-description {
  color: #6c6c6c;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 1.6rem 0;
}

.btn-join {
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 1rem 2.4rem;
  border: 0;
  background-color: #e02c6d;
}

/* footer */
.footer {
  text-align: center;
  background-color: #0a0826;
  padding: 5rem 0;
  margin: 10rem -12rem 0;
}

.footer-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.4rem;
}

.footer-description {
  color: #d9dbe1;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0.3rem 0;
}
