@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/* || RESET */
*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

ul {
  list-style: none;
}

/* || GENERAL STYLE */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 5.7rem 12rem 0;
  /* font-size: calc(1.4rem + (26 - 14) * ((100vw - 30rem) / (1600 - 300))); */
}

.nav-link {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
}

/* || HEADER STYLES */
/* navigation styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  column-gap: 3.4rem;
}

.nav-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 2.4rem;
}

/* || banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.banner-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 5.2rem;
  width: 42vw;
}

.banner-description {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 1.6rem 0;
  width: 50.5rem;
}

.btn-prebook {
  background-color: #e02c6d;
  padding: 1rem 2.4rem;
  border: 0;
  border-radius: 4.1rem;
}

.btn-prebook a {
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
}

.banner-img-container{
  width: 44rem;
  margin-left: 13rem;
}

.banner-img{
  background-image: url("../images/Circle\ design.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 3.3rem 3rem 0.2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}
